[submodule "web"]
	path = web
	url = git@github.com:changjunhuang/echo-web.git
	branch = master
[submodule "core"]
	path = core
	url = git@github.com:changjunhuang/echo-core.git
	branch = master
[submodule "ai"]
	path = ai
	url = git@github.com:changjunhuang/echo-ai.git
	branch = master
